/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400;1,9..40,600;1,9..40,900&display=swap'); */

:root {
    --hsl-font-color: 0, 0%, 0%; 
    --hsl-bg-color-1: 0, 0%, 100%; 
    --hsl-bg-color-2: 213, 25%, 92%;
    --hsl-bg-color-3: 213, 20%, 84%;

    /* color: hsl(hue, saturation, lightness) */

    --hsl-accent-1: 200, 54%, 46%;
    --hsl-accent-2: 200, 35%, 75%;
    --line-spacing: 2ch;

    color: #368ab5;
    color: #2f7ca2;

    --fw-thin  : 200;
    --fw-normal: 400;
    --fw-bold  : 600;
    --fw-absurd: 900;

    --side-padding : 20px;
    --content-width: min(100ch, calc(100vw - 2 * var(--side-padding)));

    --SkewHeight: 8.75vw;
    --SkewSafeGap: 3em;
    
    --header-height: 4em;

}


* {
    font-weight: var(--fw-normal);
    color: hsl(var(--hsl-font-color));
    /* font-family:  'DM Sans', Verdana, 'Segoe UI', Helvetica, Arial, sans-serif; */
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-padding-top: calc(.5 * var(--SkewSafeGap) + var(--header-height));
}

body {
    overflow-x: hidden ;
}


span {
    display: block;
}

.SkewSafeGap{
    gap: var(--SkewSafeGap);
}

.SkewSection:nth-of-type(1),
.SkewSection:nth-of-type(1)::before{
    background-color: hsl(var(--hsl-bg-color-1));
}

.SkewSection:nth-of-type(2),
.SkewSection:nth-of-type(2)::before{
    background-color: hsl(var(--hsl-bg-color-2));
}

.SkewSection:nth-of-type(3),
.SkewSection:nth-of-type(3)::before{
    background-color: hsl(var(--hsl-bg-color-3));
}

.content p {
    text-align: justify;
}

#timeline {
    margin-bottom: var(--SkewSafeGap);
}

#timeline ul {
    border-left: 1px solid hsl(var(--hsl-accent-1));
    margin-left: calc( .5 * var(--line-spacing));
    padding-left: var(--line-spacing);
    padding-block: 10px;
}

#timeline li {
    box-sizing: border-box;
    padding: .75ch .75rem;
    border: 1px solid hsl(var(--hsl-bg-color-2));
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 3px 3px 10px rgba(50, 50, 93, 0.25);
    background-color: hsl(var(--hsl-bg-color-1));
}

#timeline li::before {
    content: '';
    position: absolute;
    height: .75rem;
    width: .75rem;
    background-color: hsl(var(--hsl-accent-1));
    top: 50%;
    left: calc( ( -1 * var(--line-spacing) ) - 1px);
    transform: translate(-50% , -50%);
    border-radius: 50%;
    border: .5rem solid hsl(var(--hsl-accent-2));
    z-index: -1;
}

#timeline li .Date,
#timeline li .Date sup{
    font-weight: var(--fw-bold);
    font-size: 0.9rem;
    color: hsl(var(--hsl-accent-1));
}

#timeline li .Title{
    margin-top: .1rem;
    font-weight: var(--fw-normal);
    font-size: 1.1rem;
}

#timeline li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: hsla(var(--hsl-accent-1), 0.2);
    border-radius: 50%;
    aspect-ratio: 1;
    height: calc( 100% - 1.5ch );
    transform: translateY( -50% ) translateX( -.5rem );
}

#timeline li:hover a::before,
#timeline li:focus-within a::before {
    content: 'Add to Google Calender';
    position: absolute;
    top: -2.2rem;
    right: 0;
    height: 1.3rem;
    width: 16.8ch;
    padding: 0.5ch 0.5rem;
    background-color: hsl(var(--hsl-accent-1));
    border-radius: .5ch;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: var(--fw-bold);
    outline: none;
    outline-color: transparent;
}

#timeline li:hover a::after,
#timeline li:focus-within a::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -2.2rem;
    transform: translate(50%,calc(50% - 2px));
    right: 50%;
    height: 2em;
    width: 2rem;
    background-color: hsl(var(--hsl-accent-1));
    clip-path: polygon(100% 40%, 0% 40%, 50% 80%);
    outline: none;
    outline-color: transparent;     
}

#sponsors {
    margin-block: var(--SkewSafeGap);
} 

#sponsors ul {
    display: grid;
    grid-template-columns: calc(50%) calc(50%);
    border-top: 2px dashed hsla(var(--hsl-accent-2), 0.8);
    border-left: 2px dashed hsla(var(--hsl-accent-2), 0.8);
}

#sponsors ul > * {
    border-right: 2px dashed hsla(var(--hsl-accent-2), 0.8);
    border-bottom: 2px dashed hsla(var(--hsl-accent-2), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: calc(4/3);
}

#sponsors ul img {
    max-width: 12.5ch;
    max-height: 2.5em;
    opacity: 0.8;
}

#keynotes .TheSectionEndLink img {
    transform: rotate(-15deg);
    margin-right: .5ch;
    height: 1.6rem;
}


#keynotes ul,
#callForPapers ul {
    display: grid;
    gap: 10px;
}

#keynotes li ,
#callForPapers li {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: white;
    border: 3px solid white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px rgba(50, 50, 93, 0.25);
}

#keynotes li .text,
#callForPapers li .text{
    margin: 1px;
    padding: 1ch 1rem;
    box-sizing: border-box;
    display: grid;
    gap: .1rem;
}

#keynotes li .text .largeText,
#callForPapers li .text .largeText{
    font-weight: var(--fw-normal);
    font-size: 1.1rem;
}

#keynotes li .text .smallText,
#callForPapers li .text .smallText{
    font-weight: var(--fw-bold);
    font-size: 0.9rem;
    color: hsl(var(--hsl-accent-1));
}

#keynotes li .text .smallText{
    height: 2rem
}



@media (width > 130ch) {

    .SkewSection:nth-of-type(1){
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SkewSection:nth-of-type(1) .buffer{
        display: grid;
        grid-template-columns: 60ch calc( var(--content-width) - 6ch - 60ch);
        gap: 5ch;
        width: var(--content-width);
        align-items: start;
    }
    .buffer-2 {
        /* position: relative; */
        /* border: 1px dashed red; */
        height: 100%;
    }
    
    #timeline{
        position: sticky;
        top: calc(var(--header-height) + var(--SkewSafeGap));
    }

    #sponsors ul {
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3) ;
    }

}


