@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,600;0,9..40,900;1,9..40,200;1,9..40,400;1,9..40,600;1,9..40,900&display=swap');

/* :root {
    --hsl-font-color: 0, 0%, 0%; 
    --hsl-bg-color-1: 255, 255, 255; 

    --fw-thin  : 200;
    --fw-normal: 400;
    --fw-bold  : 600;
    --fw-absurd: 900;

    --side-padding : 40px;
    --content-width: min(100ch, calc(100vw - 2 * var(--side-padding)));
} */


