
.e404 {
    min-height: 65vh;
}

.e404 h3 {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
}

.e404 h1 {
    width: min(100%, 19ch);
    font-size: 2.5rem;
    font-weight: var(--fw-thin);
}

.e404 p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.e404 a {
    color: hsl(190, 69%, 37%);
    font-weight: var(--fw-bold);
}

@media (width > 650px) {
    .e404 h3 { font-size: 1.8rem; }
    .e404 h1 { font-size: 3rem;   }
    .e404 p  { font-size: 1.2rem; }
}

@media (width > 850px) {
    .e404 h3 { font-size: 2rem;   }
    .e404 h1 { font-size: 4rem;   }
    .e404 p  { font-size: 1.2rem; }
}
