#travel_sec{
    transition: 3s;
    cursor: pointer;
    
}

#travel_sec:hover{
    width: 30%;
    transition-duration: 2s;
}

#travel_sec:hover #text{
    transition-delay: 1.2s;
}

#box{
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    height: 26rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 3px;
}

#text{
    position: absolute;
    bottom: 0;
    right: 5%;
    padding: 3.5%;
    margin: 2%;
    z-index: 1;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    backdrop-filter: blur(10px);
    border-radius: 10%;

}

#icon{
    display: flex;
    justify-content: center;
    scale: 1.2;
    margin: 8%;
    
}

#bgimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity:100%;
    background-position: center;
}


#container{
    justify-content: center;
    border: 0px solid black;
    left: 50%;
}

#logo{
    scale: 1.5;
    transition: 0.5s;
}

#logo:hover{
    scale: 1.7;
}



